/* ARQUIVO PARA ESTILIZAÇÃO CSS QUE UTILIZA IMAGENS */

/* HEADER */
header div.divisao_controle_endemias {
    background-image: url('../img/igrejaApucarana.jpg');
}

/* DENGUE */
#dengue div.imagem_dengue {
    background-image: url('../img/dengue.jpg');
}

/*PREVENÇÃO*/
#prevencao div.imagem_prevencao1 {
    background-image: url('../img/prevencao1.png');
}

#imagem_prevencao2 {
    background-image: url('../img/prevencao2.png');
}

#imagem_prevencao3 {
    background-image: url('../img/prevencao3.png');
}

#imagem_prevencao4 {
    background-image: url('../img/prevencao4.png');
}

#imagem_prevencao5 {
    background-image: url('../img/prevencao5.png');
}

#imagem_prevencao6 {
    background-image: url('../img/prevencao6.png');
}

#imagem_prevencao7 {
    background-image: url('../img/prevencao7.png');
}

#imagem_prevencao8 {
    background-image: url('../img/prevencao8.png');
}

#imagem_prevencao9 {
    background-image: url('../img/prevencao9.png');
}

#imagem_prevencao10 {
    background-image: url('../img/prevencao10.png');
}

/*EQUIPE*/
#equipe div.imagem_equipe {
    background-image: url("../img/equipe.png");
}

/*MITOS E VERDADES*/
#mitosVerdades div.imagem_mitosVerdades {
    background-image: url('../img/mitos_verdades.png');
}

/*VOCE SABIA*/
#voceSabia div.imagem_voce_sabia {
    background-image: url('../img/imagem_voce_sabia.png');
}

/*ZIKA*/
#zika div.imagem_zika {
    background-image: url('../img/zika.jpg');
}

/*CHIKUNGUNYA*/
#chikungunya div.imagem_chikungunya {
    background-image: url('../img/chikungunya.png');
}