/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/geral.css ***!
  \****************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/footer.css ***!
  \*****************************************************************************/
footer {
    width: 100%;
    height: fit-content;
    background-color: #E7ECF2;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 75px 10%;
    line-height: 2rem;
}

footer .creditos_prefeitura img {
    width: 320px;
}

footer .creditos_prefeitura {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    font-weight: bold;
    border-right: 2px solid black;
}

footer .creditos_prefeitura p {
    margin: 50px 0;
}

footer .creditos_prefeitura img {
    transition: 0.5s all ease-in-out;
}

footer .creditos_utfpr p {
    margin: 50px 0;
}

footer .creditos_prefeitura .redes_sociais_prefeitura {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}


footer .creditos_prefeitura .redes_sociais_prefeitura img {
    width: 31px;
    margin-right: 25px;
    transition: 0.5s all ease-in-out;
}

footer .creditos_utfpr a {
    width: fit-content;
}

footer .creditos_utfpr img {
    width: 320px;
    transition: 0.5s all ease-in-out;
}

footer .creditos_utfpr {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    padding-left: 10%;
    font-weight: bold;
}


footer .creditos_utfpr .redes_sociais_utfpr {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

footer .creditos_utfpr .redes_sociais_utfpr img {
    width: 31px;
    margin-right: 25px;
    transition: 0.5s all ease-in-out;
}

footer .creditos_utfpr a:hover img {
    transform: scale(1.1);
}

footer .creditos_prefeitura img:hover {
    transform: scale(1.1);
}

footer .creditos_utfpr .redes_sociais_utfpr a:hover img {
    transform: scale(1.2);
}
footer .creditos_prefeitura .redes_sociais_prefeitura a:hover img {
    transform: scale(1.2);
}

@media all and (max-width: 980px){
    footer {
        flex-direction: column;
    }

    footer .creditos_prefeitura {
        border-right: none;
    }

    footer .creditos_utfpr {
        width: 80%;
        padding-left: 0;
        margin-top: 50px;
        align-items: center;
    }

    footer .creditos_prefeitura {
        align-items: center;
        width: 80%;
    }

    footer .creditos_utfpr .redes_sociais_utfpr {
        justify-content: center;
        align-items: center;
    }

    footer .creditos_utfpr .redes_sociais_utfpr img {
        margin-top: 0;
        margin-bottom: 0;
    }
    footer .creditos_prefeitura .redes_sociais_prefeitura {
        justify-content: center;
    }
}

@media all and (max-width: 450px) {
    footer .creditos_utfpr p{
        font-size: 1rem;
    }

    footer .creditos_prefeitura p{
        font-size: 1rem;
    }

    footer .creditos_prefeitura img {
        width: 200px;
    }
    footer .creditos_utfpr img {
        width: 200px;
    }

    footer .creditos_prefeitura .redes_sociais_prefeitura img {
        width: 24px;
    }

    footer .creditos_utfpr .redes_sociais_utfpr img {
        width: 24px;
    }
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/geral.css (1) ***!
  \********************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header, main, footer {
    font-family: 'Roboto', 'Poppins', Arial;
}

/*ANIMAÇÕES*/

@keyframes pulsar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes oscilar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes aumentaEscala {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.08);
    }
  
    100% {
      transform: scale(1);
    }
}


/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/grafico.css ***!
  \******************************************************************************/
.grafico {
    width: 100%;
    height: fit-content;
    max-height: 90vh;
    padding: 50px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: #000000;
}

.aviso_grafico1 {
    padding: 75px 0;
    margin: 50px 0;
    width: 100%;
    background-color: rgb(71, 175, 158, 0.3);
    color: #FFF;
    text-align: center;
}

.aviso_grafico2 {
    padding: 75px 0;
    margin: 50px 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.6);;
    color: #FFF;
    text-align: center;
}

div.legenda {
    width: 100%;
    height: fit-content;
    /*margin-top: 10%;*/
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

div.legenda p {
    font-size: 1.2rem;
}

div.legenda #caixa_legenda_grafico1 {
    width: 25px;
    height: 20px;
    margin: 15px;
    background: #47AF9E;
}

div.legenda #caixa_legenda_graficoSuspeitos {
    width: 25px;
    height: 20px;
    margin: 15px;
    background: rgba(112, 98, 90, 0.78);
}

div.caixa_legenda {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

div.legenda {
    width: fit-content;
    padding: 0 25px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.legenda #caixa_legenda_graficoConfirmados {
    width: 25px;
    height: 20px;
    margin: 15px;
    background: rgba(255, 0, 0, 0.7);
}

.titulo_eixo_horizontal {
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 10%;
    color: #000000;
}

div.caixa_titulo_grafico {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    margin: 5% auto;
}

@media all and (max-width: 980px) {
    div.caixa_legenda {
        flex-direction: column;
        font-size: 1rem;
    }

    div.legenda p {
        font-size: 1.1rem;
    }

    .grafico div.legenda #caixa_legenda_grafico1 {
        width: 20px;
        height: 15px;
    }

    div.legenda #caixa_legenda_graficoSuspeitos, div.legenda #caixa_legenda_graficoConfirmados {
        width: 20px;
        height: 15px;
    }
    
    div.caixa_titulo_grafico {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 40px; 
    }
}
/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/header.css ***!
  \*****************************************************************************/
nav {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
    align-items: center;
    z-index: 2;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav img {
    width: 13.25rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

nav ul a,
nav ul li {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
    text-align: center;
}

nav ul li {
    margin: 0 30px;
}

#menu_item_doencas:hover {
    cursor: pointer;
}

#container_menu_doencas {
    position: relative;
}

.inativo {
    display: none;
}

.ativo {
    display: block;
    position: absolute;
    bottom: calc(-150px - 30px);
    left: -15px;
    background: #FFF;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
}

.menu_doencas ul {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.menu_doencas ul li {
    padding: 10px;
    padding-left: 0;
    margin: 0;
}

.menu_doencas ul li a:hover {
    color: #325170;
    transform: scale(1.1);
}

header div.divisao_controle_endemias {
    width: 100%;
    height: 100vh;
    background-image: url(9c6037798ca96e28feb7.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

header div.efeito_divisao_controle_endemias {
    background-color: rgba(55, 72, 91, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header div.efeito_divisao_controle_endemias img.png_seta {
    width: 9rem;
    height: 6.85rem;
    filter: drop-shadow(10px, 10px, 10px, #000);
    animation: oscilar 2s ease-in-out infinite;
}

header div div h1 {
    font-size: 3.5rem;
    padding-top: 30vh;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

header nav #icon_menu_responsivo {
    display: none;
}

nav ul a:hover,
nav ul li:hover {
    color: #325170;
}

@media all and (max-width: 750px) {
    header div div h1 {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 1100px) {
    nav {
        font-size: 1rem;
    }
    
    header nav ul {
        display: none;
    }

    header nav  #icon_menu_responsivo{
        display: block;
        position: fixed;
        font-size: 3rem;
        margin-right: 10%;
        color: rgba(0, 0, 0, 0.6);

        z-index: 2;
        top: 0;
        right: 0;
    }

    header nav  #icon_menu_responsivo:hover{
        cursor: pointer;
    }

    nav img {
        width: 11rem;
    }

    header nav.navbar_lista_responsivo {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: #FFF;
        align-items: center;
        justify-content: center;
        padding: 30vh 0;
    }

    header nav.navbar_lista_responsivo ul.menu_visivel_responsivo {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: #FFF;
        align-items: center;
        justify-content: center;
    }

    header nav.navbar_lista_responsivo ul.menu_visivel_responsivo .ativo {
        position: static;
        left: 0;
    }

    header nav.navbar_lista_responsivo ul.menu_visivel_responsivo .ativo ul {
        padding: 0;
    }

    header nav ul.menu_visivel_responsivo li {
        margin-top: 30px;
    }

    header nav ul.menu_visivel_responsivo #container_menu_doencas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header nav ul.menu_visivel_responsivo #container_menu_doencas .menu_doencas ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header nav ul.menu_visivel_responsivo #container_menu_doencas .menu_doencas ul li {
        padding: 0;
    }
}

@media all and (min-width: 600px) and (max-width: 1100px) {
    header nav.navbar_lista_responsivo {
        font-size: 1.25rem;
    }

    header nav.navbar_lista_responsivo img {
        width: 13rem;
    }
}

/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_casos_faixa_etaria.css ***!
  \*************************************************************************************************/



/*CASOS NOTIFICADOS POR FAIXA ETÁRIA*/

#section_casos_faixa_etaria div.fundo_faixa_etaria {
    background: rgb(71, 175, 158, 0.3);
    padding: 58.5px 0;
}

#section_casos_faixa_etaria div.fundo_faixa_etaria div{
    border-left: 4px solid #47AF9E;
    margin-left: 10%;
    height: fit-content;
    padding: 25px 6.95% 75px 6.95%;
}

#section_casos_faixa_etaria div.fundo_faixa_etaria div h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

#section_casos_faixa_etaria div.fundo_faixa_etaria div p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 2.5rem;
    text-align: justify;
}

#section_casos_faixa_etaria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_casos_faixa_etaria div.warning_faixa_etaria {
    width: 100%;
    height: fit-content;
    padding: 50px 15%;
    background-color: rgba(255, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.8rem;
}

#section_casos_faixa_etaria div.warning_faixa_etaria div{
    width: fit-content;
    background-color: #FFF;
    border-radius: 90px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    animation: pulsar 2s ease-in-out infinite;
}

#section_casos_faixa_etaria div.warning_faixa_etaria p {
    text-align: center;
}

@media all and (max-width: 980px) {
    #section_casos_faixa_etaria div.fundo_faixa_etaria div h3 {
        font-size: 1.8rem;
    }

    #section_casos_faixa_etaria div.warning_faixa_etaria {
        font-size: 1.2rem;
    }

    #section_casos_faixa_etaria div.warning_faixa_etaria div {
        font-size: 1.3rem;
    }
}

@media all and (max-width: 780px) {    
    #section_casos_faixa_etaria div.warning_faixa_etaria div {
        font-size: 1.2rem;
    }
    
}

@media all and (max-width: 650px) {
    /*#section_casos_faixa_etaria div.fundo_faixa_etaria div h3 {
        font-size: 1.5rem;
    }*/

    #section_casos_faixa_etaria div.warning_faixa_etaria {
        font-size: 1.1rem;
        flex-direction: column;
    }
    
    #section_casos_faixa_etaria div.warning_faixa_etaria div {
        margin-bottom: 40px;
    }
}

@media all and (max-width: 480px) {
    #section_casos_faixa_etaria div.fundo_faixa_etaria div p {
        text-align: left;
    }
}
/*!**************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_distribuicao_semana.css ***!
  \**************************************************************************************************/
#section_distribuicao_semana {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#section_distribuicao_semana div.fundo_distribuicao_semana {
    background: rgba(113, 99, 91, 0.3);
    padding: 58.5px 0;
}

#section_distribuicao_semana div.fundo_distribuicao_semana div{
    border-left: 4px solid #70625A;
    margin-left: 10%;
    height: fit-content;
    padding: 25px 6.95% 75px 6.95%;
}

#section_distribuicao_semana div.fundo_distribuicao_semana div h3 {
    font-size: 2rem;
    width: 80%;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#section_distribuicao_semana div.fundo_distribuicao_semana div p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 2.5rem;
    text-align: justify;
}

#section_distribuicao_semana div.warning_distribuicao_semana {
    width: 100%;
    height: fit-content;
    background-color: rgba(112, 98, 90, 0.3);
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5rem;
}

#section_distribuicao_semana div.warning_distribuicao_semana div.semana_atual {
    width: fit-content;
    height: fit-content;
    background-color: #FFF;
    border-radius: 90px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulsar 2s ease-in-out infinite;
}

#section_distribuicao_semana div.warning_distribuicao_semana div.semana_atual p {
    text-align: center;
}

#section_distribuicao_semana div.numeros {
    width: 60%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section_distribuicao_semana div.warning_distribuicao_semana div.numeros p {
    text-align: center;

}

#section_distribuicao_semana div.warning_distribuicao_semana p span {
    font-size: 2rem;
}

@media all and (max-width: 1080px) {
    #section_distribuicao_semana div.fundo_distribuicao_semana div h3 {
        font-size: 1.8rem;
    }

    #section_distribuicao_semana div.warning_distribuicao_semana {
        font-size: 1.2rem;
        flex-direction: column;
    }

    #section_distribuicao_semana div.warning_distribuicao_semana div.semana_atual {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    #section_distribuicao_semana div.numeros {
        flex-direction: column;
    }

    #section_distribuicao_semana div.numeros p:first-child {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 650px) {
    #section_distribuicao_semana div.warning_distribuicao_semana {
        flex-direction: column;
    }
    
    #section_distribuicao_semana div.warning_distribuicao_semana div.semana_atual {
        font-size: 1.2rem;
    }

    #section_distribuicao_semana div.numeros {
        padding-top: 0;
    }
}

@media all and (max-width: 480px) {
    #section_distribuicao_semana div.fundo_distribuicao_semana div p {
        text-align: left;
    }
}

/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_chikungunya.css ***!
  \******************************************************************************************/
#chikungunya {
    width: 100%;
}

#chikungunya div.imagem_chikungunya {
    width: 100%;
    height: 297px;
    background-image: url(d9fffa8cac41504b1928.png);
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

#chikungunya div.fundo_chikungunya {
    background-color: rgba(112, 98, 90, 0.78);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#chikungunya div.fundo_chikungunya h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#chikungunya div.texto_doenca {
    width: 80%;
    height: fit-content;
    border-left: 2px solid rgb(112, 98, 90);
    margin: 100px auto;
    padding: 25px 6.95%;
    line-height: 2.5rem;
}

#chikungunya h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#chikungunya div.texto_doenca p {
    font-size: 1.25rem;
    text-align: justify;
}

#chikungunya div.texto_doenca div.doenca_oQueE {
    margin-bottom: 75px;
}

#chikungunya div.sintomas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#chikungunya div.sintomas div {
    background-color: rgba(112, 98, 90, 0.3);
    width: 80%;
    height: fit-content;
    padding: 40px 60px;
    border-radius: 15px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: justify;
    margin-right: 20px;
    transition: 0.8s all ease-in-out;
}

#chikungunya div.aviso_procurarMedico {
    width: 100%;
    font-size: 1.25rem;
    height: fit-content;
    padding: 60px;
    text-align: center;
    font-weight: 400;
    margin: 100px auto;
    background-color: rgba(255, 203, 13, 0.4);
    line-height: 2.5rem;
    transition: 0.8s all ease-in-out;
}

#chikungunya div.aviso_procurarMedico:hover {
    background-color: rgba(255, 203, 13, 0.5);
    font-weight: bold;
}

#chikungunya div.sintomas div:last-child {
    margin-bottom: 0;
}

/*ANIMAÇÕES*/

#chikungunya div.sintomas div:hover {
    width: 100%;
    background-color: rgba(112, 98, 90, 0.5);
    font-weight: bold;
}

@media all and (max-width: 980px) {
    #chikungunya div.fundo_chikungunya h2 {
        font-size: 2.5rem;
    }
    #chikungunya h3 {
        font-size: 1.8rem;
    }
    #chikungunya div.sintomas div {
        width: 100%;
        padding: 20px 30px;
    }
}

@media all and (max-width: 480px) {
    #chikungunya div.fundo_chikungunya h2 {
        font-size: 2.2rem;
    }
    #chikungunya h3 {
        font-size: 1.6rem;
    }

    #chikungunya div.sintomas div {
        text-align: left;
    }

    #chikungunya div.texto_doenca p {
        text-align: left;
    }

}

/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_dengue.css ***!
  \*************************************************************************************/

/*DENGUE*/

#dengue {
    margin-top: 100px;
    width: 100%;
}

#dengue div.imagem_dengue {
    width: 100%;
    height: 297px;
    background-image: url(2485444b0d22e24cd0ca.jpg);
    background-position: 50% 65%;
    background-size: cover;
    background-repeat: no-repeat; 
}


#dengue div.fundo_dengue {
    background-color: rgb(71, 175, 158, 0.78);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#dengue div.fundo_dengue h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#dengue div.texto_doenca {
    width: 80%;
    height: fit-content;
    border-left: 2px solid #47AF9E;
    margin: 100px auto;
    padding: 25px 6.95%;
    line-height: 2.5rem;
}

#dengue div.texto_doenca h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#dengue div.texto_doenca p {
    font-size: 1.25rem;
    text-align: justify;
}

#dengue div.texto_doenca div.doenca_oQueE {
    margin-bottom: 75px;
}

#dengue div.sintomas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#dengue div.sintomas div {
    width: 80%;
    height: fit-content;
    padding: 40px 60px;
    background-color: rgba(71, 175, 158, 0.3);
    border-radius: 15px;
    font-size: 1.5rem;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: justify;
    margin-right: 20px;
    transition: 0.8s all ease-in-out;
}

#dengue div.aviso_procurarMedico {
    width: 100%;
    font-size: 1.25rem;
    height: fit-content;
    padding: 60px;
    text-align: center;
    font-weight: 400;
    margin: 100px auto;
    background-color: rgba(255, 203, 13, 0.4);
    line-height: 2.5rem;
    transition: 0.8s all ease-in-out;
}

#dengue div.sintomas div:last-child {
    margin-bottom: 0;
}

#dengue div.sintomas div:hover {
    width: 100%;
    background-color: rgba(71, 175, 158, 0.5);
    font-weight: bold;
}

#dengue div.aviso_procurarMedico:hover {
    background-color: rgba(255, 203, 13, 0.5);
    font-weight: bold;
}

@media all and (max-width: 980px) {
    #dengue div.fundo_dengue h2 {
        font-size: 2.5rem;
    }
    #dengue div.texto_doenca h3 {
        font-size: 1.8rem;
    }
    #dengue div.sintomas div {
        width: 100%;
        padding: 20px 30px;
    }
}

@media all and (max-width: 480px) {
    #dengue div.fundo_dengue h2 {
        font-size: 2.2rem;
    }
    #dengue div.texto_doenca h3 {
        font-size: 1.6rem;
    }

    #dengue div.sintomas div {
        text-align: left;
    }

    #dengue div.texto_doenca p {
        text-align: left;
    }
}

/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_zika.css ***!
  \***********************************************************************************/
#zika {
    width: 100%;
}

#zika div.imagem_zika {
    width: 100%;
    height: 297px;
    background-image: url(a0e6cfc3138bf763e09d.jpg);
    background-position: 50% 33%;
    background-size: cover;
    background-repeat: no-repeat;
}

#zika div.fundo_zika {
    background-color: rgb(117, 151, 193, 0.78);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#zika div.fundo_zika h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#zika div.texto_doenca {
    width: 80%;
    height: fit-content;
    border-left: 2px solid rgba(117, 151, 193);
    margin: 100px auto;
    padding: 25px 6.95%;
    line-height: 2.5rem;
}

#zika h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#zika div.texto_doenca p {
    font-size: 1.25rem;
    text-align: justify;
}

#zika div.texto_doenca div.doenca_oQueE {
    margin-bottom: 75px;
}

#zika div.sintomas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#zika div.sintomas div {
    background-color: rgb(117, 151, 193, 0.3);
    width: 80%;
    height: fit-content;
    padding: 40px 60px;
    border-radius: 15px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: justify;
    margin-right: 20px;
    transition: 0.8s all ease-in-out;
}

#zika div.aviso_procurarMedico {
    width: 100%;
    font-size: 1.25rem;
    height: fit-content;
    padding: 60px;
    text-align: center;
    font-weight: 400;
    margin: 100px auto;
    background-color: rgba(255, 203, 13, 0.4);
    line-height: 2.5rem;
    transition: 0.8s all ease-in-out;
}

#zika div.aviso_procurarMedico:hover {
    background-color: rgba(255, 203, 13, 0.5);
    font-weight: bold;
}

#zika div.sintomas div:last-child {
    margin-bottom: 0;
}

/*ANIMAÇÕES*/

#zika div.sintomas div:hover {
    width: 100%;
    background-color: rgb(117, 151, 193, 0.5);
    font-weight: bold;
}

@media all and (max-width: 980px) {
    #zika div.fundo_zika h2 {
        font-size: 2.5rem;
    }
    #zika h3 {
        font-size: 1.8rem;
    }
    #zika div.sintomas div {
        width: 100%;
        padding: 20px 30px;
    }
}

@media all and (max-width: 480px) {
    #zika div.fundo_zika h2 {
        font-size: 2.2rem;
    }
    #zika h3 {
        font-size: 1.6rem;
    }

    #zika div.sintomas div {
        text-align: left;
    }

    #zika div.texto_doenca p {
        text-align: left;
    }

}

/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_equipe.css ***!
  \*************************************************************************************/
#equipe div.fundo_equipe {
    /* background-color: rgba(117, 151, 193, 0.78); */
    background-color: rgba(50, 81, 112, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#equipe {
    line-height: 2.5rem;
}

#equipe div.imagem_equipe {
    width: 100%;
    height: 297px;
    background-image: url(4f37d8a7e4a8c1bfcb8d.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#equipe div.fundo_equipe h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    line-height: 2.5rem;
}

#equipe div.container_funcoes {
    background: rgb(117, 151, 193, 0.3);
    padding: 58.5px 0;
}

#equipe div.container_funcoes div{
    margin-left: 10%;
    border-left: 4px solid #7597C1;
    height: fit-content;
    padding: 25px 6.95% 75px 6.95%;
}

#equipe div.container_funcoes div h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
}

#equipe div.container_funcoes div p {
    width: 80%;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

#equipe div.atividades_realizadas {
    background: #325170;
    padding: 79px 0;
}

#equipe div.atividades_realizadas h4 {
    margin-left: 10%;
    font-size: 2.25rem;
    color: white;
}

#equipe div.container_atividades {
    margin: 100px auto;
    width: 80%;
    padding: 3% 6.95%;
    padding-top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    background: #E7ECF2;;
    transition: 0.8s all ease-in-out;
}

#equipe div.container_atividades h4 {
    font-size: 2rem;
    padding-top: 5%;
}

#equipe div.container_atividades div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 6.95%;
    width: 55%;
}

#equipe div.container_atividades p {
    margin: 3% 0;
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: justify;
}

#equipe div.container_atividades img {
    width: 45%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#equipe div.container_mensagemFinal {
    background: rgba(71, 175, 158, 0.2);
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 20px;
}

#equipe div.container_mensagemFinal p span {
    display: inline-block;
    margin: 20px 10%;
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: justify;
}

/*ANIMAÇÕES*/

#equipe div.container_atividades:hover {
    transform: scale(1.08);
}

@media all and (max-width: 980px){
    #equipe div.container_atividades {
        flex-direction: column-reverse;
        align-items: center;
    }

    #equipe div.container_atividades img {
        width: 80%;
        margin-bottom: 3%;
    }

    #equipe div.container_atividades div {
        width: 80%;
        padding-right: 0;
    }

    #equipe div.container_atividades h4 {
        padding-bottom: 5%;
    }
}

@media all and (max-width: 480px) {
    #equipe div.container_atividades img,     #equipe div.container_atividades div {
        width: 100%;
    }

    #equipe div.container_atividades p {
        text-align: left;
    }

    #equipe div.container_funcoes div p {
        text-align: left;
    }

    #equipe div.container_mensagemFinal p span {
        text-align: left;
    }

    #equipe div.container_atividades h4 {
        font-size: 1.75rem;
        padding-bottom: 5%;
    }

    #equipe div.container_funcoes div h3 {
        font-size: 1.75rem;
    }

    #equipe div.fundo_equipe h2 {
        font-size: 2.2rem;
    }

    #equipe div.atividades_realizadas h4 {
        font-size: 1.75rem;
    }
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_mitos_verdades.css ***!
  \*********************************************************************************************/
#mitosVerdades {
    margin-bottom: 150px;
}

#mitosVerdades div.imagem_mitosVerdades {
    width: 100%;
    height: 297px;
    background-image: url(669c28613a566abf5496.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#mitosVerdades div.fundo_mitosVerdades {
    background-color: rgba(71, 176, 159, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#mitosVerdades div.fundo_mitosVerdades h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#mitosVerdades .container {
    width: 70%;
    height: fit-content;
    margin: 100px auto;
    font-size: 1.25rem;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    line-height: 1.8rem;
    transition: 0.8s all ease-in-out;
}

#mitosVerdades .texto_sentenca {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 20px 0;
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    font-style: italic;
}

#mitosVerdades .texto_sentenca_verdade {
    background-color: rgba(71, 175, 158, 0.3);
}

#mitosVerdades .texto_sentenca div {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left;
}

#mitosVerdades .texto_explicativo {
    width: 100%;
    background-color: #E7ECF2;
    padding: 20px 0;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 600;
}

#mitosVerdades .texto_explicativo div {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left;
}

#mitosVerdades .texto_mito {
    color: rgba(255, 0, 0, 0.7);
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
    padding-bottom: 1rem;
    font-weight: 600;
}

#mitosVerdades .texto_verdade {
    color: rgb(71, 175, 158);
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
    padding-bottom: 1rem;
    font-weight: 600;
}

#mitosVerdades .texto_sentenca .circulo_numeracao {
    font-size: 3rem;
    font-weight: bold;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    bottom: -50px;
    border-radius: 136px;
    background: #E7ECF2;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-style: normal;
    transition: 0.8s all ease-in-out;
}

/*ANIMAÇÕES*/

#mitosVerdades .container:hover {
    transform: scale(1.08);
}

@media all and (max-width: 1000px) {
    #mitosVerdades .texto_sentenca .circulo_numeracao {
        bottom: 0;
        left: calc(50% - 50px);
        top: -50px;
    }

    #mitosVerdades .texto_sentenca div {
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    #mitosVerdades .texto_mito, #mitosVerdades .texto_verdade {
        font-size: 1.25rem;
    }

    #mitosVerdades .texto_sentenca .circulo_numeracao {
        font-size: 2.2rem;
        left: calc(50% - 37.5px);
        top: -37.5px;
        width: 75px;
        height: 75px;
    }

    #mitosVerdades div.fundo_mitosVerdades h2 {
        font-size: 2.2rem;
    }
}
/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_n_casos.css ***!
  \**************************************************************************************/
#n_casos {
    height: fit-content;
}

#fundo_n_casos {
    /*background: #325170;*/
    background: linear-gradient(120deg, #325170 80%, #7597C1 20%);
    margin-top: 100px;
    padding: 96px 0;
    padding-top: 15vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: start;
}

#fundo_n_casos h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#section_resumo div.fundo_resumo {
    background: rgb(117, 151, 193, 0.3);
    padding: 58.5px 0;
}

#section_resumo div.fundo_resumo div{
    margin-left: 10%;
    border-left: 4px solid #7597C1;
    height: fit-content;
    padding: 25px 6.95% 75px 6.95%;
}

#section_resumo div.fundo_resumo div h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#section_resumo div.fundo_resumo div p {
    width: 80%;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

/* #section_resumo .numero_carregando {
    color: rgba(112, 98, 90, 0.7);
} */

#n_casos div.resumos_numero_casos {
    width: 90%;
    margin: 120px auto;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* #n_casos #section_resumo div.resumos_numero_casos:first-child {
    margin-bottom: 200px;
} */

#n_casos div.resumos_numero_casos p:first-child {
    font-size: 4rem;
    padding-bottom: 20px;
}

#n_casos div.resumos_numero_casos p {
    font-size: 1.25rem;
}

@media all and (max-width: 980px) {
    #fundo_n_casos h2 {
        font-size: 2.5rem;
    }

    #section_resumo div.fundo_resumo div h3 {
        font-size: 1.8rem;
    }

    #section_resumo div.fundo_resumo div {
        padding: 25px 6.95%;
    }

}

@media all and (max-width: 480px) {
    #fundo_n_casos h2 {
        font-size: 2.2rem;
    } 
    
    #n_casos div.resumos_numero_casos p:first-child {
        font-size: 3rem;
    }

    #n_casos div.fundo_resumo div p {
        text-align: left;
    }
}

/*!****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_prevencao.css ***!
  \****************************************************************************************/
#prevencao {
    margin-top: 100px;
    width: 100%;
}

.prevencao_conteudo {
    width: 80%;
    height: fit-content;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    padding: 25px 6.95%;
    padding-top: 0;
}

#prevencao div.fundo_prevencao {
    background-color: rgba(50, 81, 112, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#prevencao div.fundo_prevencao h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#itens_prevencao {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

#itens_prevencao div.fundo_item_prevencao {
    background: #E7ECF2;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 1s ease, transform 1s ease, font-weight 1s ease;
}

#prevencao div.imagem_prevencao1 {
    width: 100%;
    height: 297px;
    background-image: url(2580572420fbf1750a59.png);
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

#imagem_prevencao2 {
    background-image: url(890d6d11a4997e48a141.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao3 {
    background-image: url(a5e5e894065ac56804b3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao4 {
    background-image: url(df94f55a6735d4693421.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao5 {
    background-image: url(2fb1036edd63362cb161.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao6 {
    background-image: url(136e6c8e20fad5704c83.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao7 {
    background-image: url(4cf795ae38320622c658.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao8 {
    background-image: url(fcb4503e6c49f6f5638b.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao9 {
    background-image: url(5b12890eab57ab323320.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#imagem_prevencao10 {
    background-image: url(2e80677449c3717a1657.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#itens_prevencao div.fundo_item_prevencao:hover {
    background: #47af9e4d;
    transform: scale(1.07);
    font-weight: bold;
    cursor: pointer;
}

#itens_prevencao div.fundo_item_prevencao:hover div img {
    filter: brightness(90%) saturate(100%) sepia(50%) hue-rotate(120deg) contrast(120%);
}

#itens_prevencao div.fundo_item_prevencao div {
    width: 100%;
    height: 302px;
    border-radius: 10px;
    object-fit: cover;
}

#itens_prevencao div.fundo_item_prevencao p {
    font-size: 1.25rem;
    margin: 10% auto;
    text-align: center;
}

#itens_prevencao div.fundo_item_prevencao div img {
    width: 65px; 
    transition: filter 1s ease-in-out;
}

@media all and (max-width: 980px) {
    #prevencao div.fundo_prevencao h2 {
        font-size: 2.5rem;
    }

    #prevencao div.imagem_prevencao1 {
        margin-bottom: 40px;
    }
}

@media all and (max-width: 480px) {
    #prevencao div.fundo_prevencao h2 {
        font-size: 2.2rem;
    }

    #prevencao div.imagem_prevencao1 {
        margin-bottom: 60px;
    }
}
/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/css/section_voce_sabia.css ***!
  \*****************************************************************************************/
#voceSabia div.imagem_voce_sabia {
    width: 100%;
    height: 297px;
    background-image: url(7ffd56a15936142d44bc.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#voceSabia div.fundo_voce_sabia {
    background-color: rgba(112, 98, 90, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#voceSabia div.fundo_voce_sabia h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#voceSabia div.topicos_voce_sabia {
    margin: 100px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#voceSabia div.caixa_voce_sabia {
    width: 100%;
    min-height: 176px;
    height: fit-content;
    background-color: rgba(136, 113, 72, 0.2);
    border-radius: 15px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    gap: 10px;
    transition: 0.8s all ease-in-out;
}

#voceSabia div.caixa_voce_sabia p {
    width: 20%;
    text-align: center; 
    font-size: 5rem; 
    font-weight: bold; 
    border-radius: 10px;
    color: #68605C;
}

#voceSabia div.caixa_voce_sabia div {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 120px;
    border-left: 3px solid rgba(112, 98, 90, 1);
}

#voceSabia div.caixa_voce_sabia div p {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: 400;
    text-align: justify;
    margin: auto 40px;
    color: #000;
}

#voceSabia div.caixa_voce_sabia:hover {
   transform: scale(1.08);
   background-color: rgba(136, 113, 72, 0.4);
}

@media all and (max-width: 980px) {
    #voceSabia div.fundo_voce_sabia h2 {
        font-size: 2.5rem;
    }
    #voceSabia div.topicos_voce_sabia {
        margin: 50px 10%;
    }
}

@media all and (max-width: 780px) {
    #voceSabia div.caixa_voce_sabia {
        margin: 35px;
        flex-direction: column;
    }

    #voceSabia div.caixa_voce_sabia p {
        margin-top: 20px;
        font-size: 3.75rem;
    }

    #voceSabia div.caixa_voce_sabia div {
        border-top: 3px solid rgba(112, 98, 90, 1);
        border-left: 0;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    #voceSabia div.caixa_voce_sabia div p {
        margin: 25px 0;
    }
}

@media all and (max-width: 480px) {
    #voceSabia div.fundo_voce_sabia h2 {
        font-size: 2.2rem;
    }
}

/*# sourceMappingURL=style.css.map*/
