footer {
    width: 100%;
    height: fit-content;
    background-color: #E7ECF2;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 75px 10%;
    line-height: 2rem;
}

footer .creditos_prefeitura img {
    width: 320px;
}

footer .creditos_prefeitura {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    font-weight: bold;
    border-right: 2px solid black;
}

footer .creditos_prefeitura p {
    margin: 50px 0;
}

footer .creditos_prefeitura img {
    transition: 0.5s all ease-in-out;
}
footer .creditos_utfpr p {
    margin: 50px 0;
}

footer .creditos_prefeitura .redes_sociais_prefeitura {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

footer .creditos_utfpr img {
    width: 288px;
    transition: 0.5s all ease-in-out;
    /* margin: 50px 0; */
}

footer .creditos_prefeitura .redes_sociais_prefeitura img {
    width: 31px;
    margin-right: 25px;
    transition: 0.5s all ease-in-out;
}

footer .creditos_utfpr {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    padding-left: 10%;
    font-weight: bold;
}


footer .creditos_utfpr .redes_sociais_utfpr {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 0;
    /* justify-content: space-around; */
    flex-wrap: wrap;

}

footer .creditos_utfpr .redes_sociais_utfpr img {
    width: 31px;
    margin-right: 25px;
    transition: 0.5s all ease-in-out;
}

footer .creditos_utfpr a:hover img {
    transform: scale(1.1);
}

footer .creditos_prefeitura img:hover {
    transform: scale(1.1);
}

footer .creditos_utfpr .redes_sociais_utfpr a:hover img {
    transform: scale(1.2);
}
footer .creditos_prefeitura .redes_sociais_prefeitura a:hover img {
    transform: scale(1.2);
}

@media all and (max-width: 980px){
    footer {
        flex-direction: column;
    }

    /* footer .creditos_utfpr .redes_sociais_utfpr img {
        margin-right: 0;
    } */

    footer .creditos_prefeitura {
        border-right: none;
    }

    footer .creditos_utfpr {
        width: 80%;
        padding-left: 0;
        margin-top: 50px;
        align-items: center;
    }

    footer .creditos_prefeitura {
        align-items: center;
        width: 80%;
    }

    footer .creditos_utfpr .redes_sociais_utfpr {
        /* width: 100%;
        height: fit-content; */
        /* display: flex; */
        justify-content: center;
        align-items: center;
        /* margin-top: 50px; */
        /* flex-wrap: wrap; */
    
    }

    footer .creditos_utfpr .redes_sociais_utfpr img {
        margin-top: 0;
        margin-bottom: 0;
    }
    footer .creditos_prefeitura .redes_sociais_prefeitura {
        /* width: 100%;
        height: fit-content; */
        /* display: flex; */
        justify-content: center;
        /* flex-wrap: wrap; */
    
    }
}

@media all and (max-width: 450px) {
    footer .creditos_utfpr p{
        font-size: 1rem;
    }

    footer .creditos_prefeitura p{
        font-size: 1rem;
    }

    footer .creditos_prefeitura img {
        width: 200px;
    }
    footer .creditos_utfpr img {
        width: 200px;
    }

    footer .creditos_prefeitura .redes_sociais_prefeitura img {
        width: 24px;
    }

    footer .creditos_utfpr .redes_sociais_utfpr img {
        width: 24px;
    }
}
