#equipe div.imagem_equipe {
    width: 100%;
    height: 297px;
    background-image: url("../img/equipe.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; 
}


#equipe div.fundo_equipe {
    /* background-color: rgba(117, 151, 193, 0.78); */
    background-color: rgba(50, 81, 112, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#equipe {
    line-height: 2.5rem;
}

#equipe div.fundo_equipe h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    line-height: 2.5rem;
}

#equipe div.container_funcoes {
    background: rgb(117, 151, 193, 0.3);
    padding: 58.5px 0;
}

#equipe div.container_funcoes div{
    margin-left: 10%;
    border-left: 4px solid #7597C1;
    height: fit-content;
    padding: 25px 6.95% 75px 6.95%;
}

#equipe div.container_funcoes div h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
}

#equipe div.container_funcoes div p {
    width: 80%;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

#equipe div.atividades_realizadas {
    background: #325170;
    padding: 79px 0;
}

#equipe div.atividades_realizadas h4 {
    margin-left: 10%;
    font-size: 2.25rem;
    color: white;
    /*text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);*/
}

#equipe div.container_atividades {
    margin: 100px auto;
    width: 80%;
    padding: 3% 6.95%;
    padding-top: 0;
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: fit-content;
    /* min-height: 400px; */
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    background: #E7ECF2;;
    transition: 0.8s all ease-in-out;
    /* background: rgba(117, 151, 193, 0.3); */
    /* justify-content: center; */
}

#equipe div.container_atividades h4 {
    font-size: 2rem;
    padding-top: 5%;
}

#equipe div.container_atividades div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 6.95%;
    width: 55%;
}

#equipe div.container_atividades p {
    margin: 3% 0;
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: justify;
}

#equipe div.container_atividades img {
    width: 45%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#equipe div.container_mensagemFinal {
    background: rgba(71, 175, 158, 0.2);
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 20px;
}

#equipe div.container_mensagemFinal p span {
    display: inline-block;
    margin: 20px 10%;
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: justify;
}

#equipe div.container_atividades:hover {
    transform: scale(1.08);
}

@media all and (max-width: 980px){
    #equipe div.container_atividades {
        flex-direction: column-reverse;
        align-items: center;
    }

    #equipe div.container_atividades img {
        width: 80%;
        margin-bottom: 3%;
    }

    #equipe div.container_atividades div {
        width: 80%;
        padding-right: 0;
    }

    #equipe div.container_atividades h4 {
        padding-bottom: 5%;
    }
}

@media all and (max-width: 450px) {
    #equipe div.container_atividades img,     #equipe div.container_atividades div {
        width: 100%;
    }

    /* #equipe div.container_atividades p {
        font-size: 1rem;
    }

    #equipe div.container_funcoes div p {
        font-size: 1rem;
    }

    #equipe div.container_mensagemFinal p span {
        font-size: 1rem;
    } */

    #equipe div.container_atividades h4 {
        font-size: 1.75rem;
        padding-bottom: 5%;
    }

    #equipe div.container_funcoes div h3 {
        font-size: 1.75rem;
    }

    #equipe div.fundo_equipe h2 {
        font-size: 2.2rem;
    }

    #equipe div.atividades_realizadas h4 {
        font-size: 1.75rem;
    }
}
