#mitosVerdades {
    margin-bottom: 150px;
}

#mitosVerdades div.imagem_mitosVerdades {
    width: 100%;
    height: 297px;
    background-image: url('../img/mitos_verdades.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; 
}


#mitosVerdades div.fundo_mitosVerdades {
    background-color: rgba(71, 176, 159, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#mitosVerdades div.fundo_mitosVerdades h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#mitosVerdades .container {
    width: 70%;
    height: fit-content;
    margin: 100px auto;
    font-size: 1.25rem;
    /* position: relative; */
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    line-height: 1.8rem;
    transition: 0.8s all ease-in-out;
}

/* #mitosVerdades .container:hover {
    transform: scale(1.1);
    transition: all 1s ease-in-out allow-discrete;
} */

#mitosVerdades .texto_sentenca {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 20px 0;
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    font-style: italic;
}

#mitosVerdades .texto_sentenca_verdade {
    background-color: rgba(71, 175, 158, 0.3);
}

#mitosVerdades .texto_sentenca div {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left;
}

#mitosVerdades .texto_explicativo {
    width: 100%;
    background-color: #E7ECF2;
    padding: 20px 0;
    padding-bottom: 60px;
    margin: 0 auto;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 600;
}

#mitosVerdades .texto_explicativo div {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: left;
}

#mitosVerdades .texto_mito {
    color: rgba(255, 0, 0, 0.7);
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
    padding-bottom: 1rem;
    font-weight: 600;
}

#mitosVerdades .texto_verdade {
    color: rgb(71, 175, 158);
    font-size: 1.5rem;
    text-align: left;
    font-style: normal;
    padding-bottom: 1rem;
    font-weight: 600;
}

#mitosVerdades .texto_sentenca .circulo_numeracao {
    font-size: 3rem;
    font-weight: bold;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    bottom: -50px;
    border-radius: 136px;
    background: #E7ECF2;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-style: normal;
    transition: 0.8s all ease-in-out;
}

/**
    Animações
*/


#mitosVerdades .container:hover {
    transform: scale(1.08);
}

/* #mitosVerdades .container:hover .texto_sentenca .circulo_numeracao {
    background: rgba(255, 0, 0, 0.8);
}

#mitosVerdades .container:hover .texto_sentenca.texto_sentenca_verdade .circulo_numeracao {
    background: rgba(71, 175, 158, 1);
} */

@media all and (max-width: 1000px) {
    #mitosVerdades .texto_sentenca .circulo_numeracao {
        bottom: 0;
        left: calc(50% - 50px);
        top: -50px;
    }

    #mitosVerdades .texto_sentenca div {
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    /* #mitosVerdades .container {
        font-size: 1rem;
    } */

    #mitosVerdades .texto_mito, #mitosVerdades .texto_verdade {
        font-size: 1.25rem;
    }

    #mitosVerdades .texto_sentenca .circulo_numeracao {
        font-size: 2.2rem;
        left: calc(50% - 37.5px);
        top: -37.5px;
        width: 75px;
        height: 75px;
    }

    #mitosVerdades div.fundo_mitosVerdades h2 {
        font-size: 2.2rem;
    }
}