


/*CASOS NOTIFICADOS POR FAIXA ETÁRIA*/

#section_casos_faixa_etaria div.fundo_faixa_etaria {
    background: rgb(71, 175, 158, 0.3);
    padding: 58.5px 0;
}

#section_casos_faixa_etaria div.fundo_faixa_etaria div{
    border-left: 4px solid #47AF9E;
    margin-left: 10%;
    height: fit-content;
    padding: 25px 6.95% 75px 6.95%;
}

#section_casos_faixa_etaria div.fundo_faixa_etaria div h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

#section_casos_faixa_etaria div.fundo_faixa_etaria div p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 2.5rem;
    text-align: justify;
}

#section_casos_faixa_etaria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_casos_faixa_etaria div.warning_faixa_etaria {
    width: 100%;
    height: fit-content;
    padding: 50px 15%;
    background-color: rgba(255, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.8rem;
}

#section_casos_faixa_etaria div.warning_faixa_etaria div{
    width: fit-content;
    background-color: #FFF;
    border-radius: 90px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    animation: pulsar 2s ease-in-out infinite;
}

#section_casos_faixa_etaria div.warning_faixa_etaria p {
    text-align: center;
}

@media all and (max-width: 980px) {
    #section_casos_faixa_etaria div.fundo_faixa_etaria div h3 {
        font-size: 1.8rem;
    }

    #section_casos_faixa_etaria div.warning_faixa_etaria {
        font-size: 1.2rem;
    }

    #section_casos_faixa_etaria div.warning_faixa_etaria div {
        font-size: 1.3rem;
    }
}

@media all and (max-width: 780px) {    
    #section_casos_faixa_etaria div.warning_faixa_etaria div {
        font-size: 1.2rem;
    }
    
}

@media all and (max-width: 650px) {
    /*#section_casos_faixa_etaria div.fundo_faixa_etaria div h3 {
        font-size: 1.5rem;
    }*/

    #section_casos_faixa_etaria div.warning_faixa_etaria {
        font-size: 1.1rem;
        flex-direction: column;
    }
    
    #section_casos_faixa_etaria div.warning_faixa_etaria div {
        margin-bottom: 40px;
    }
}