.grafico {
    width: 90%;
    height: fit-content;
    max-height: 95vh;
    margin: 0 5%;
    /* background: rgba(128, 128, 128, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    /*text-transform: uppercase;*/
    color: #000000;
    /*color: black;*/
}

.aviso_grafico1 {
    padding: 75px 0;
    margin: 50px 0;
    width: 100%;
    background-color: rgb(71, 175, 158, 0.3);
    color: #FFF;
    text-align: center;
}

.aviso_grafico2 {
    padding: 75px 0;
    margin: 50px 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.6);;
    color: #FFF;
    text-align: center;
}

.grafico div.legenda {
    width: 100%;
    margin: 2% auto;
    margin-top: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /*text-transform: uppercase;*/
}

.grafico div.legenda #caixa_legenda_grafico1 {
    width: 25px;
    height: 20px;
    margin: auto 15px;
    background: #47AF9E;
    /*text-transform: uppercase;*/
}

.grafico div.legenda #caixa_legenda_grafico2 {
    width: 25px;
    height: 20px;
    margin: auto 15px;
    background: rgba(112, 98, 90, 0.78);
    /*text-transform: uppercase;*/
}

.titulo_eixo_horizontal {
    font-size: 1.2rem;
    margin-top: 2%;
    margin-bottom: 10%;
    color: #000000;
}

div.caixa_titulo_grafico {
    width: 70%;
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-end;
    padding: 50px;
    /* background: yellowgreen; */
    /* height: ; */
}

