nav {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
    align-items: center;
    z-index: 2;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav img {
    width: 13.25rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

nav ul a,
nav ul li {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
}

nav ul li {
    margin: 0 30px;
}

#menu_item_doencas:hover {
    cursor: pointer;
}

#container_menu_doencas {
    position: relative;
}

.inativo {
    display: none;
}

.ativo {
    display: block;
    position: absolute;
    bottom: calc(-150px - 30px);
    left: -15px;
    background: #FFF;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.menu_doencas ul {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.menu_doencas ul li {
    padding: 10px;
    padding-left: 0;
    margin: 0;
}

.menu_doencas ul li a:hover {
    color: #325170;
    transform: scale(1.1);
}

header div.divisao_controle_endemias {
    width: 100%;
    height: 100vh;
    background-image: url('../img/igrejaApucarana.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

header div.efeito_divisao_controle_endemias {
    background-color: rgba(55, 72, 91, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header div.efeito_divisao_controle_endemias img.png_seta {
    width: 9rem;
    height: 6.85rem;
    filter: drop-shadow(10px, 10px, 10px, #000);
    animation: oscilar 2s ease-in-out infinite;
}

header div div h1 {
    font-size: 3.5rem;
    padding-top: 30vh;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

}

header nav #icon_menu_responsivo {
    display: none;
}

nav ul a:hover,
nav ul li:hover {
    color: #325170;
}

@media all and (max-width: 750px) {
    header div div h1 {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 1100px) {
    header nav ul {
        display: none;
    }

    header nav  #icon_menu_responsivo{
        display: block;
        position: fixed;
        font-size: 3rem;
        margin-right: 10%;
        color: rgba(0, 0, 0, 0.6);
        /* font-weight: bold; */

        z-index: 2;
        top: 0;
        right: 0;
    }

    header nav  #icon_menu_responsivo:hover{
        cursor: pointer;
    }

    nav img {
        width: 11rem;
    }

    header nav.navbar_lista_responsivo {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: #FFF;
        align-items: center;
        justify-content: center;
        padding: 30vh 0;
    }

    /* header nav.navbar_lista_responsivo img {
        margin-top: 100px;
    } */

    header nav.navbar_lista_responsivo ul.menu_visivel_responsivo {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background: #FFF;
        align-items: center;
        justify-content: center;
    }

    header nav.navbar_lista_responsivo ul.menu_visivel_responsivo .ativo {
        position: static;
        left: 0;
    }

    header nav.navbar_lista_responsivo ul.menu_visivel_responsivo .ativo ul {
        padding: 0;
    }

    header nav ul.menu_visivel_responsivo li {
        margin-top: 30px;
    }

    header nav ul.menu_visivel_responsivo #container_menu_doencas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header nav ul.menu_visivel_responsivo #container_menu_doencas .menu_doencas ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header nav ul.menu_visivel_responsivo #container_menu_doencas .menu_doencas ul li {
        padding: 0;
    }

}

@media all and (min-width: 600px) and (max-width: 1100px) {
    header nav.navbar_lista_responsivo {
        font-size: 1.25rem;
    }

    header nav.navbar_lista_responsivo img {
        width: 13rem;
    }
}