#chikungunya {
    /* margin-top: 100px; */
    width: 100%;
}

#chikungunya div.imagem_chikungunya {
    width: 100%;
    height: 297px;
    background-image: url('../img/chikungunya.png');
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat; 
}


#chikungunya div.fundo_chikungunya {
    background-color: rgba(112, 98, 90, 0.78);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#chikungunya div.fundo_chikungunya h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

#chikungunya div.texto_doenca {
    width: 80%;
    height: fit-content;
    border-left: 2px solid rgb(112, 98, 90);
    margin: 100px auto;
    padding: 25px 6.95%;
    line-height: 2.5rem;
}

#chikungunya h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#chikungunya div.texto_doenca p {
    font-size: 1.25rem;
    text-align: justify;
}

#chikungunya div.texto_doenca div.doenca_oQueE {
    margin-bottom: 75px;
}

#chikungunya div.sintomas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#chikungunya div.sintomas div {
    background-color: rgba(112, 98, 90, 0.3);
    width: 80%;
    height: fit-content;
    padding: 40px 60px;
    border-radius: 15px;
    font-size: 1.5rem;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: justify;
    margin-right: 20px;
    transition: 0.8s all ease-in-out;
}

#chikungunya div.sintomas div:last-child {
    margin-bottom: 0;
}

#chikungunya div.sintomas div:hover {
    width: 100%;
    background-color: rgba(112, 98, 90, 0.5);
    font-weight: bold;
}

@media all and (max-width: 980px) {
    #chikungunya div.fundo_chikungunya h2 {
        font-size: 2.5rem;
    }
    #chikungunya h3 {
        font-size: 1.8rem;
    }
    #chikungunya div.sintomas div {
        width: 100%;
        padding: 20px 30px;
    }
}

@media all and (max-width: 480px) {
    #chikungunya div.fundo_chikungunya h2 {
        font-size: 2.2rem;
    }
    #chikungunya h3 {
        font-size: 1.6rem;
    }
}
