#n_casos {
    height: fit-content;
}

#fundo_n_casos {
    /*background: #325170;*/
    background: linear-gradient(120deg, #325170 80%, #7597C1 20%);
    margin-top: 100px;
    padding: 96px 0;
    padding-top: 15vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: start;
}

#fundo_n_casos h2 {
    margin-left: 10%;
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#section_resumo div.fundo_resumo {
    background: rgb(117, 151, 193, 0.3);
    padding: 58.5px 0;
}

#section_resumo div.fundo_resumo div{
    margin-left: 10%;
    border-left: 4px solid #7597C1;
    height: fit-content;
    padding: 25px 6.95% 75px 6.95%;
}

#section_resumo div.fundo_resumo div h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#section_resumo div.fundo_resumo div p {
    width: 80%;
    text-align: justify;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

/* #section_resumo .numero_carregando {
    color: rgba(112, 98, 90, 0.7);
} */

#n_casos div.resumos_numero_casos {
    width: 90%;
    margin: 120px auto;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

/* #n_casos #section_resumo div.resumos_numero_casos:first-child {
    margin-bottom: 200px;
} */

#n_casos div.resumos_numero_casos p:first-child {
    font-size: 4rem;
    padding-bottom: 20px;
}

#n_casos div.resumos_numero_casos p {
    font-size: 1.25rem;
}

@media all and (max-width: 980px) {
    #fundo_n_casos h2 {
        font-size: 2.5rem;
    }

    #section_resumo div.fundo_resumo div h3 {
        font-size: 1.8rem;
    }

    #section_resumo div.fundo_resumo div {
        padding: 25px 6.95%;
    }

}

@media all and (max-width: 480px) {
    #fundo_n_casos h2 {
        font-size: 2.2rem;
    } 
    
    #n_casos div.resumos_numero_casos p:first-child {
        font-size: 3rem;
    }

    #n_casos div.resumos_numero_casos p {
        font-size: 1.1rem;
    }
}
